* {
  padding: 0;
  margin: 0;
}
body {
  box-sizing: inherit;
  min-height: 100vh;
}
header {
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  justify-content: center;
  font-size: 50px;
  letter-spacing: 10px;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
}
header > .container > .btn {
  display: flex;
  margin-top: 60%;
}
.portada {
  position: relative;
  width: 100%;
  min-height: 100%;
  flex-wrap: wrap;
}
.container > .logotipo {
  padding: 5px;
  position: absolute;
  z-index: 999;
  max-height: 67px;
  margin-top: 20px;
  top: 0;
}
.container > .btn h2 {
  display: flex;
  position: absolute;
  color: #d5d0c3;
  font-size: 47px;
  letter-spacing: 20px;
  font-family: alfredino_semimonosemimono;
  top: -400%;
  max-width: 300px;
  max-height: 82.5px;
  font-weight: 800;
}

.container > .btn p {
  position: absolute;
  color: #d5d0c3;
  letter-spacing: 0px;
  font-size: 20px;
  top: -200%;
  max-width: 250px;
  max-height: 200px;
  font-weight: 800;
}
.container > .btn a {
  color: #121212;
  text-decoration: none;
  align-items: center;
}
.container > .btn {
  text-decoration: none;
  color: #121212;
  font-size: 18px;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 50px;
  background: #d5d0c3;
  cursor: pointer;
  width: 350px;
  margin-top: 20%;
}
header > nav {
  position: absolute;
  display: flex;
  font-size: 14px;
  margin-left: -50%;
  top: 15%;
  left: 50%;
  color: whitesmoke;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Verdana, sans-serif;
  font-weight: 500;
  padding: 10px;
}
nav > .menu {
  list-style: none;
  justify-content: center;
  gap: 50px;
  margin-top: -40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 60px;
}
nav > .toggle_btn {
  color: white;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  margin: -50px 70px;
}
nav > .menu li {
  display: flex;
  justify-content: center;
}
nav > .menu a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
nav > .menu a:hover {
  background-color: #535252;
}
nav .selector {
  font-size: 12px;
}
nav .country {
  margin: 1px 100px;
  margin-left: 700px;
  cursor: pointer;
  height: 25px;
  width: auto;
  cursor: pointer;
}
.selector > button {
  border-radius: 20px;
  padding: 7px;
  color: black;
  font-weight: 600;
  cursor: pointer;
  margin: 10px 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.selector > p {
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 5px;
  margin-top: 10px;
}
nav.toggle_btn {
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

main {
  background-color: rgb(255, 255, 255);
}
main > h2 {
  font-size: 30px;
  font-weight: 400;
  margin-left: 20px;
}
main > .merch {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
  width: 100%;
  background-color: rgba(250, 242, 242, 0.071);
}
.merch > img {
  display: flex;
  flex-wrap: wrap;
}
.merch > ul {
  list-style: none;
  text-align: center;
  flex-wrap: wrap;
  display: flex;
  margin: 50px 10px;
  justify-content: center;
}
.merch > ul a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 800;
  color: #121212;
}
.gorro-negro > a img {
  background-color: rgba(128, 128, 128, 0.245);
  max-width: 431px;
  max-height: 340px;
  margin: 50px 5px;
  cursor: pointer;
}
.gorro-negro > a img:hover {
  background-color: rgba(0, 208, 255, 0.419);
}
.camiseta > a img {
  background-color: rgba(128, 128, 128, 0.248);
  max-width: 431px;
  max-height: 340px;
  margin: 50px 5px;
  cursor: pointer;
}
.camiseta > a img:hover {
  background-color: rgba(0, 208, 255, 0.419);
}
.camiseta-logo > a img {
  background-color: rgba(128, 128, 128, 0.244);
  max-width: 431px;
  max-height: 340px;
  margin: 50px 5px;
  cursor: pointer;
}
.camiseta-logo > a img:hover {
  background-color: rgba(0, 208, 255, 0.419);
}
.sudadera > a img {
  background-color: rgba(128, 128, 128, 0.246);
  max-width: 431px;
  max-height: 340px;
  margin: 50px 5px;
  cursor: pointer;
}
.sudadera > a img:hover {
  background-color: rgba(0, 208, 255, 0.419);
}
.disco > a img {
  background-color: rgba(128, 128, 128, 0.246);
  max-width: 431px;
  max-height: 340px;
  margin: 50px 5px;
  cursor: pointer;
}
.disco > a img:hover {
  background-color: rgba(0, 208, 255, 0.419);
}
.gorro-rojo > a img {
  background-color: rgba(128, 128, 128, 0.245);
  max-width: 431px;
  max-height: 340px;
  margin: 50px 5px;
  cursor: pointer;
}
.gorro-rojo > a img:hover {
  background-color: rgba(0, 208, 255, 0.419);
}
.sudadera-estampado > a img {
  background-color: rgba(128, 128, 128, 0.247);
  max-width: 431px;
  max-height: 340px;
  margin: 50px 5px;
  cursor: pointer;
}
.sudadera-estampado > a img:hover {
  background-color: rgba(0, 208, 255, 0.419);
}
.pack > a img {
  background-color: rgba(128, 128, 128, 0.245);
  max-width: 431px;
  max-height: 340px;
  margin: 50px 5px;
  cursor: pointer;
}
.pack > a img:hover {
  background-color: rgba(0, 208, 255, 0.419);
}
.camiseta-tyler-y-josh > a img {
  background-color: rgba(128, 128, 128, 0.245);
  max-width: 431px;
  max-height: 340px;
  margin: 50px 5px;
  cursor: pointer;
}
.camiseta-tyler-y-josh > a img:hover {
  background-color: rgba(0, 208, 255, 0.419);
}
.camiseta-clancy > a img {
  background-color: rgba(128, 128, 128, 0.247);
  max-width: 431px;
  max-height: 340px;
  margin: 50px 5px;
  cursor: pointer;
}
.camiseta-clancy > a img:hover {
  background-color: rgba(0, 208, 255, 0.419);
}
.cd-digital > a img {
  background-color: rgba(128, 128, 128, 0.247);
  max-width: 431px;
  max-height: 340px;
  margin: 50px 5px;
  cursor: pointer;
}
.cd-digital > a img:hover {
  background-color: rgba(0, 208, 255, 0.419);
}
.vinilo > a img {
  background-color: rgba(128, 128, 128, 0.246);
  max-width: 431px;
  max-height: 340px;
  margin: 50px 0px;
  cursor: pointer;
}
.vinilo > a img:hover {
  background-color: rgba(0, 208, 255, 0.419);
}
iframe {
  margin: 50px 50px;
}
footer {
  margin: 100px 0;
  background-color: #121212;
  color: white;
}
footer > h4 {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}
.suscripcion > input {
  border-radius: 10px;
  justify-content: center;
  height: 50px;
}
.mail {
  margin-left: 25%;
  width: 35%;
  height: 50px;
}
.value {
  width: 10%;
  flex-wrap: wrap;
  cursor: pointer;
}
footer > p {
  font-size: 12px;
  font-weight: 300;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  margin-top: 20px;
}
footer > .policy a {
  color: white;
}
footer > .media img {
  margin: 50px 30%;
  cursor: pointer;
}
.dropdown_menu {
  display: none;
  position: absolute;
  right: 35rem;
  top: 90px;
  height: 0;
  width: 300px;
  background-color: rgb(2, green, blue, alpha);
  backdrop-filter: blur(15px);
  border-radius: 10px;
}
.dropdown_menu {
  height: 240px;
  cursor: pointer;
}
.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  justify-content: start;
}
.dropdown_menu a {
  text-decoration: none;
  color: aliceblue;
}
.dropdown_menu > .selector {
  color: aliceblue;
  font-weight: 800;
  font-size: 15px;
}
.dropdown_menu > .selector button {
  border-radius: 20px;
  padding: 7px;
  color: black;
  font-weight: 600;
  cursor: pointer;
  margin: 10px 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
@media (max-width: 1220px) {
  nav > .menu {
    display: none;
  }
  nav > .toggle_btn {
    display: none;
  }
}
@media (max-width: 1219px) {
  .dropdown_menu {
    display: none;
  }
  nav > .toggle_btn {
    display: block;
    margin-top: -90px;
    margin-left: 30px;
  }
}
@media (max-width: 900px) {
  nav > .menu {
    display: none;
  }
  nav > .toggle_btn {
    display: block;
  }
  .dropdown_menu {
    display: none;
  }
}

@media (max-width: 860px) {
  .dropdown_menu {
    display: none;
  }
  nav > .toggle_btn {
    margin-top: -90px;
    margin-left: 20px;
  }
}
@media (max-width: 400px) {
  nav > .toggle_btn {
    margin: top -90px;
    margin-left: 0px;
  }
}
